<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=WIN81-GELIS-CHT;Initial Catalog=ReleaseManagement;User Id=sa;Password=GELISpass01" name="DbConnectionStr"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>